APP_NAME=HRK AD Service
APP_VERSION=0.1.0
DEBUG=false
HOST=0.0.0.0
PORT=8001

AD_SERVER_URL=ldap://localhost:389
AD_DOMAIN=hrk.local
AD_BASE_DN=DC=hrk,DC=local
AD_USE_SSL=false
AD_MOCK_MODE=true

# AD demo simulation controls
# If set, /whoami will return this identity directly (e.g. HRK\asia)
AD_SIMULATED_IDENTITY=HRK\asia
AD_SIMULATED_DOMAIN=HRK
