# Database Configuration
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/hrk_db

# Application Settings
DEBUG=True
APP_NAME=HRK Backend
APP_VERSION=0.1.0
API_V1_STR=/api/v1

# Server
HOST=127.0.0.1
PORT=8000

# CORS
FE_DOMAIN=http://localhost:3000
ALLOWED_HOSTS=["localhost", "127.0.0.1"]

