--
-- PostgreSQL database dump
--

\restrict d7N5ZS5PteCDI7OziTXCrTyjldRz4LmbB20rkeKj5uagS0MroTq3Ze0AryzFQVk

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg12+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.activity_logs (
    id uuid NOT NULL,
    customer_id uuid,
    contract_id uuid,
    activity_type character varying(30) NOT NULL,
    description text NOT NULL,
    performed_by uuid,
    activity_date timestamp with time zone DEFAULT now() NOT NULL,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO hrk;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO hrk;

--
-- Name: alerts; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.alerts (
    id uuid NOT NULL,
    customer_id uuid,
    contract_id uuid,
    alert_type character varying(40) NOT NULL,
    entity_type character varying(50),
    entity_id uuid,
    status character varying(20) DEFAULT 'open'::character varying NOT NULL,
    trigger_date date NOT NULL,
    days_before integer,
    message text NOT NULL,
    assigned_to uuid,
    acknowledged_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_alerts_ck_alerts_alert_parent_check CHECK (((customer_id IS NOT NULL) OR (contract_id IS NOT NULL)))
);


ALTER TABLE public.alerts OWNER TO hrk;

--
-- Name: attachments; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.attachments (
    id uuid NOT NULL,
    customer_id uuid,
    contract_id uuid,
    amendment_id uuid,
    document_type character varying(50) NOT NULL,
    original_filename character varying(500) NOT NULL,
    s3_bucket character varying(255) NOT NULL,
    s3_key character varying(1000) NOT NULL,
    mime_type character varying(100),
    file_size_bytes bigint,
    ocr_status character varying(20) DEFAULT 'pending'::character varying,
    extracted_text text,
    extracted_fields jsonb DEFAULT '{}'::jsonb NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    uploaded_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    company_id uuid
);


ALTER TABLE public.attachments OWNER TO hrk;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    user_id uuid,
    entity_type character varying(50) NOT NULL,
    entity_id uuid NOT NULL,
    action character varying(20) NOT NULL,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(45),
    user_agent character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO hrk;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.companies (
    id uuid NOT NULL,
    name character varying(255) NOT NULL,
    nip character varying(15),
    regon character varying(14),
    krs character varying(20),
    address_street character varying(255),
    address_city character varying(255),
    address_postal character varying(10),
    address_country character varying(2) DEFAULT 'PL'::character varying,
    phone character varying(20),
    email character varying(255),
    website character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.companies OWNER TO hrk;

--
-- Name: contact_persons; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.contact_persons (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    email character varying(255),
    phone character varying(20),
    role character varying(100),
    is_primary boolean DEFAULT false NOT NULL,
    is_contract_signer boolean DEFAULT false NOT NULL,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.contact_persons OWNER TO hrk;

--
-- Name: contract_amendments; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.contract_amendments (
    id uuid NOT NULL,
    contract_id uuid NOT NULL,
    amendment_number character varying(50) NOT NULL,
    amendment_date date NOT NULL,
    effective_date date NOT NULL,
    scope_of_change text NOT NULL,
    approved_by_client character varying(255),
    approved_by_hrk character varying(255),
    document_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid
);


ALTER TABLE public.contract_amendments OWNER TO hrk;

--
-- Name: contract_services; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.contract_services (
    id uuid NOT NULL,
    contract_id uuid NOT NULL,
    service_id uuid NOT NULL,
    scope_description text,
    volume_limit integer,
    volume_unit character varying(20),
    sla_definition text,
    is_billable boolean DEFAULT true NOT NULL,
    valid_from date NOT NULL,
    valid_to date,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.contract_services OWNER TO hrk;

--
-- Name: contracts; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.contracts (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    account_manager_id uuid,
    contract_number character varying(50) NOT NULL,
    contract_type character varying(20) NOT NULL,
    status character varying(20) DEFAULT 'draft'::character varying NOT NULL,
    start_date date NOT NULL,
    end_date date,
    notice_period_days integer DEFAULT 90,
    notice_conditions text,
    billing_cycle character varying(20) DEFAULT 'monthly'::character varying,
    governing_law character varying(10) DEFAULT 'PL'::character varying,
    parent_contract_id uuid,
    notes text,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_by uuid,
    updated_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    primary_document_id uuid
);


ALTER TABLE public.contracts OWNER TO hrk;

--
-- Name: customer_rate_months; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.customer_rate_months (
    id uuid NOT NULL,
    rate_id uuid NOT NULL,
    month integer NOT NULL,
    net_price numeric(10,2) NOT NULL,
    CONSTRAINT ck_customer_rate_months_ck_customer_rate_months_month_range CHECK (((month >= 1) AND (month <= 12)))
);


ALTER TABLE public.customer_rate_months OWNER TO hrk;

--
-- Name: customer_rates; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.customer_rates (
    id uuid NOT NULL,
    contract_service_id uuid NOT NULL,
    valorization_id uuid,
    year integer NOT NULL,
    base_price numeric(10,2) NOT NULL,
    discount_pct numeric(5,2) DEFAULT 0.00 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by uuid
);


ALTER TABLE public.customer_rates OWNER TO hrk;

--
-- Name: customer_relation_scores; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.customer_relation_scores (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    score_date date NOT NULL,
    score_label character varying(20) NOT NULL,
    score_value numeric(3,2) NOT NULL,
    reasoning text,
    calculated_by character varying(10) DEFAULT 'ai'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT ck_customer_relation_scores_ck_customer_relation_scores_4b35 CHECK (((score_value >= 0.00) AND (score_value <= 1.00)))
);


ALTER TABLE public.customer_relation_scores OWNER TO hrk;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.customers (
    id uuid NOT NULL,
    ckk character varying(10) NOT NULL,
    ckd character varying(10),
    company_id uuid,
    account_manager_id uuid NOT NULL,
    status character varying(30) DEFAULT 'active'::character varying NOT NULL,
    segment character varying(50),
    industry character varying(100),
    employee_count integer,
    payment_period_days integer DEFAULT 21,
    account_number character varying(30),
    billing_nip character varying(15),
    billing_email character varying(255),
    invoice_nip character varying(15),
    phone character varying(20),
    address_street character varying(255),
    address_city character varying(255),
    address_postal character varying(10),
    address_country character varying(2) DEFAULT 'PL'::character varying,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_by uuid,
    updated_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.customers OWNER TO hrk;

--
-- Name: document_chunks; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.document_chunks (
    id uuid NOT NULL,
    attachment_id uuid NOT NULL,
    chunk_index integer NOT NULL,
    content text NOT NULL,
    token_count integer,
    page_number integer,
    bbox jsonb,
    customer_id uuid,
    section_title character varying(500),
    embedding public.vector(768) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_chunks OWNER TO hrk;

--
-- Name: document_generations; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.document_generations (
    id uuid NOT NULL,
    customer_id uuid NOT NULL,
    contract_id uuid,
    amendment_id uuid,
    attachment_pdf_id uuid,
    cover_letter_attachment_id uuid,
    template_key character varying(100) NOT NULL,
    template_version character varying(20) NOT NULL,
    status character varying(32) DEFAULT 'draft'::character varying NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    simulation jsonb DEFAULT '{}'::jsonb NOT NULL,
    ai_artifacts jsonb DEFAULT '{}'::jsonb NOT NULL,
    pdf_sha256 character varying(64),
    generated_by uuid,
    accepted_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.document_generations OWNER TO hrk;

--
-- Name: gus_cpi_snapshots; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.gus_cpi_snapshots (
    id uuid NOT NULL,
    year integer NOT NULL,
    quarter integer NOT NULL,
    value numeric(6,2) NOT NULL,
    source character varying(50) DEFAULT 'GUS BDL'::character varying NOT NULL,
    fetched_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.gus_cpi_snapshots OWNER TO hrk;

--
-- Name: notes; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.notes (
    id uuid NOT NULL,
    customer_id uuid,
    contract_id uuid,
    note_type character varying(30) NOT NULL,
    content text NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT ck_notes_ck_notes_note_parent_check CHECK (((customer_id IS NOT NULL) OR (contract_id IS NOT NULL)))
);


ALTER TABLE public.notes OWNER TO hrk;

--
-- Name: service_groups; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.service_groups (
    id uuid NOT NULL,
    parent_id uuid,
    name character varying(255) NOT NULL,
    service_code character varying(20),
    level integer DEFAULT 1 NOT NULL,
    path_id character varying(50),
    path_name character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.service_groups OWNER TO hrk;

--
-- Name: services; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.services (
    id uuid NOT NULL,
    group_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    billing_unit character varying(30) NOT NULL,
    billing_frequency character varying(20) DEFAULT 'monthly'::character varying NOT NULL,
    vat_rate numeric(4,2) DEFAULT 23.00,
    is_active boolean DEFAULT true NOT NULL,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    deleted_at timestamp with time zone
);


ALTER TABLE public.services OWNER TO hrk;

--
-- Name: users; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    login character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO hrk;

--
-- Name: valorizations; Type: TABLE; Schema: public; Owner: hrk
--

CREATE TABLE public.valorizations (
    id uuid NOT NULL,
    contract_id uuid NOT NULL,
    year integer NOT NULL,
    index_type character varying(20) NOT NULL,
    index_value numeric(5,2) NOT NULL,
    planned_date date NOT NULL,
    applied_date date,
    status character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    approved_by uuid,
    notes text,
    additional_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_by uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.valorizations OWNER TO hrk;

--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.activity_logs (id, customer_id, contract_id, activity_type, description, performed_by, activity_date, additional_data, created_at) VALUES ('b79673b3-78bc-4512-baed-bc36d3b57e73', '416f3438-3def-46f8-bf17-a48cb985c328', NULL, 'call', 'Rozmowa o przed┼éu┼╝eniu umowy', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-27 12:47:12.605951+00', '{}', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.activity_logs (id, customer_id, contract_id, activity_type, description, performed_by, activity_date, additional_data, created_at) VALUES ('2caef0f8-ebd8-479c-bd29-896ce4a21ec2', '416f3438-3def-46f8-bf17-a48cb985c328', NULL, 'meeting', 'Spotkanie kwartalne - status operacyjny', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-14 12:47:12.605979+00', '{}', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.activity_logs (id, customer_id, contract_id, activity_type, description, performed_by, activity_date, additional_data, created_at) VALUES ('aa2d84e7-adfa-43c2-bec0-9945e0b6ef15', '416f3438-3def-46f8-bf17-a48cb985c328', NULL, 'email', 'Wys┼éano projekt aneksu waloryzacyjnego', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-29 07:47:12.605989+00', '{}', '2026-05-29 12:47:12.538938+00');


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.alembic_version (version_num) VALUES ('a2b3c4d5e6f7');


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: attachments; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.companies (id, name, nip, regon, krs, address_street, address_city, address_postal, address_country, phone, email, website, is_active, additional_data, created_at, updated_at, deleted_at) VALUES ('001e7acf-1cc6-4d9e-b7be-8e693b158c40', 'Empik S.A.', NULL, NULL, NULL, NULL, NULL, NULL, 'PL', NULL, NULL, NULL, true, '{}', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.companies (id, name, nip, regon, krs, address_street, address_city, address_postal, address_country, phone, email, website, is_active, additional_data, created_at, updated_at, deleted_at) VALUES ('6c066589-a383-42b0-823b-6ef503e3ef55', 'Decathlon Sp. z o.o.', NULL, NULL, NULL, NULL, NULL, NULL, 'PL', NULL, NULL, NULL, true, '{}', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.companies (id, name, nip, regon, krs, address_street, address_city, address_postal, address_country, phone, email, website, is_active, additional_data, created_at, updated_at, deleted_at) VALUES ('a8be41e2-e0b3-42b1-9a95-c3776dff2f8f', 'Leroy Merlin Polska', NULL, NULL, NULL, NULL, NULL, NULL, 'PL', NULL, NULL, NULL, true, '{}', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);


--
-- Data for Name: contact_persons; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: contract_amendments; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: contract_services; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.contract_services (id, contract_id, service_id, scope_description, volume_limit, volume_unit, sla_definition, is_billable, valid_from, valid_to, additional_data) VALUES ('7cdc15ac-aaa5-4e96-974e-f9e3891630bc', 'a07cad49-0c0c-4369-bea9-73463a67c6e5', '96e28552-8478-4e71-9810-85dfa3440810', 'Realizacja w ramach umowy HRK/CON/2024/001/A', NULL, NULL, NULL, true, '2025-01-14', NULL, '{}');
INSERT INTO public.contract_services (id, contract_id, service_id, scope_description, volume_limit, volume_unit, sla_definition, is_billable, valid_from, valid_to, additional_data) VALUES ('f93a45ef-1897-455c-8113-0aefd9733459', 'a07cad49-0c0c-4369-bea9-73463a67c6e5', '4fc3bd68-b005-414e-a68b-7ea351e369d2', 'Realizacja w ramach umowy HRK/CON/2024/001/A', NULL, NULL, NULL, true, '2025-01-14', NULL, '{}');
INSERT INTO public.contract_services (id, contract_id, service_id, scope_description, volume_limit, volume_unit, sla_definition, is_billable, valid_from, valid_to, additional_data) VALUES ('d2286854-17f3-40aa-9f23-076246d3997a', 'a07cad49-0c0c-4369-bea9-73463a67c6e5', 'bdccf84c-917b-48b0-82d7-f4a1ba40ca12', 'Realizacja w ramach umowy HRK/CON/2024/001/A', NULL, NULL, NULL, true, '2025-01-14', NULL, '{}');


--
-- Data for Name: contracts; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: customer_rate_months; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.customer_rate_months (id, rate_id, month, net_price) VALUES ('5016cf88-e86b-40e9-a6f7-041f42f6c966', '8c5efddf-5226-4909-b7f0-307aefac024a', 1, 32.00);
INSERT INTO public.customer_rate_months (id, rate_id, month, net_price) VALUES ('c9496f33-4863-4466-880a-540b8f61cd5a', '8c5efddf-5226-4909-b7f0-307aefac024a', 2, 32.00);
INSERT INTO public.customer_rate_months (id, rate_id, month, net_price) VALUES ('be55c895-f5b3-4fb3-8b86-b012e6afb3f9', '8c5efddf-5226-4909-b7f0-307aefac024a', 3, 32.00);


--
-- Data for Name: customer_rates; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.customer_rates (id, contract_service_id, valorization_id, year, base_price, discount_pct, created_at, created_by) VALUES ('8c5efddf-5226-4909-b7f0-307aefac024a', '7cdc15ac-aaa5-4e96-974e-f9e3891630bc', NULL, 2024, 32.00, 0.00, '2026-05-29 12:47:12.538938+00', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a');
INSERT INTO public.customer_rates (id, contract_service_id, valorization_id, year, base_price, discount_pct, created_at, created_by) VALUES ('69ae6fc6-b843-49b9-9919-64932de1ed6c', '7cdc15ac-aaa5-4e96-974e-f9e3891630bc', NULL, 2025, 33.12, 0.00, '2026-05-29 12:47:12.538938+00', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a');
INSERT INTO public.customer_rates (id, contract_service_id, valorization_id, year, base_price, discount_pct, created_at, created_by) VALUES ('d4480e5a-d275-4e2e-b582-81cb95a744d5', '7cdc15ac-aaa5-4e96-974e-f9e3891630bc', NULL, 2026, 34.51, 0.00, '2026-05-29 12:47:12.538938+00', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a');


--
-- Data for Name: customer_relation_scores; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: document_chunks; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: document_generations; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: gus_cpi_snapshots; Type: TABLE DATA; Schema: public; Owner: hrk
--



--
-- Data for Name: notes; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.notes (id, customer_id, contract_id, note_type, content, created_by, created_at, updated_at, deleted_at) VALUES ('dfeb55c8-be58-46c6-a094-12bc4b883c4f', '416f3438-3def-46f8-bf17-a48cb985c328', NULL, 'internal', 'Analiza roczna dla C001 zako┼äczona.', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.notes (id, customer_id, contract_id, note_type, content, created_by, created_at, updated_at, deleted_at) VALUES ('bef6e1a9-95fb-4c1b-bf64-a51189a542ab', '416f3438-3def-46f8-bf17-a48cb985c328', NULL, 'client_request', 'Klient prosi o aktualizacj─Ö stawek PPK.', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.notes (id, customer_id, contract_id, note_type, content, created_by, created_at, updated_at, deleted_at) VALUES ('77806b47-4341-462b-9eaa-3058fbb0c32b', '84753681-215a-4b89-92ce-5be4d4aca21c', NULL, 'internal', 'Analiza roczna dla C002 zako┼äczona.', '4cd84f2a-7762-452a-b073-77a3e66f549b', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00', NULL);


--
-- Data for Name: service_groups; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.service_groups (id, parent_id, name, service_code, level, path_id, path_name, is_active, created_at) VALUES ('11be2dba-3280-4f94-88d0-f4372fae3364', NULL, 'Kadry & P┼éace', NULL, 1, NULL, NULL, true, '2026-05-29 12:47:12.538938+00');


--
-- Data for Name: services; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.services (id, group_id, name, billing_unit, billing_frequency, vat_rate, is_active, additional_data, created_at, deleted_at) VALUES ('96e28552-8478-4e71-9810-85dfa3440810', '11be2dba-3280-4f94-88d0-f4372fae3364', 'Listy p┼éac ÔÇö pracownicy etatowi', 'per_person', 'monthly', 23.00, true, '{}', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.services (id, group_id, name, billing_unit, billing_frequency, vat_rate, is_active, additional_data, created_at, deleted_at) VALUES ('4fc3bd68-b005-414e-a68b-7ea351e369d2', '11be2dba-3280-4f94-88d0-f4372fae3364', 'ZUS DRA ÔÇö obs┼éuga miesi─Öczna', 'ryczalt', 'monthly', 23.00, true, '{}', '2026-05-29 12:47:12.538938+00', NULL);
INSERT INTO public.services (id, group_id, name, billing_unit, billing_frequency, vat_rate, is_active, additional_data, created_at, deleted_at) VALUES ('bdccf84c-917b-48b0-82d7-f4a1ba40ca12', '11be2dba-3280-4f94-88d0-f4372fae3364', 'PPK ÔÇö obs┼éuga wp┼éat', 'per_person', 'monthly', 23.00, true, '{}', '2026-05-29 12:47:12.538938+00', NULL);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.users (id, login, email, created_at, updated_at) VALUES ('de9867ae-e79d-4074-ac82-b4fdd9d1f27a', 'asia', 'asia@hrk.eu', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.users (id, login, email, created_at, updated_at) VALUES ('030b847d-821d-4610-98aa-7c5ecb6af0dd', 'tomek', 'tomek@hrk.eu', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.users (id, login, email, created_at, updated_at) VALUES ('4cd84f2a-7762-452a-b073-77a3e66f549b', 'kasia', 'kasia@hrk.pl', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');


--
-- Data for Name: valorizations; Type: TABLE DATA; Schema: public; Owner: hrk
--

INSERT INTO public.valorizations (id, contract_id, year, index_type, index_value, planned_date, applied_date, status, approved_by, notes, additional_data, created_by, created_at, updated_at) VALUES ('47a59af6-9abc-418a-ab7e-b90c19a3a0b5', 'a07cad49-0c0c-4369-bea9-73463a67c6e5', 2026, 'GUS_CPI', 4.50, '2026-06-13', NULL, 'pending', NULL, NULL, '{}', 'de9867ae-e79d-4074-ac82-b4fdd9d1f27a', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.valorizations (id, contract_id, year, index_type, index_value, planned_date, applied_date, status, approved_by, notes, additional_data, created_by, created_at, updated_at) VALUES ('fff7f54b-39a1-40de-9a3f-e4a91baf0177', '39123ca5-214d-4b31-b23a-37de5515526e', 2026, 'GUS_CPI', 4.50, '2026-06-13', NULL, 'pending', NULL, NULL, '{}', '030b847d-821d-4610-98aa-7c5ecb6af0dd', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');
INSERT INTO public.valorizations (id, contract_id, year, index_type, index_value, planned_date, applied_date, status, approved_by, notes, additional_data, created_by, created_at, updated_at) VALUES ('12498f4c-9b55-4d59-a3dc-a8ee00608842', 'ca050f5a-8c96-4129-b418-f826a41f4380', 2026, 'GUS_CPI', 4.50, '2026-06-13', NULL, 'pending', NULL, NULL, '{}', '4cd84f2a-7762-452a-b073-77a3e66f549b', '2026-05-29 12:47:12.538938+00', '2026-05-29 12:47:12.538938+00');


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: activity_logs pk_activity_logs; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT pk_activity_logs PRIMARY KEY (id);


--
-- Name: alerts pk_alerts; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT pk_alerts PRIMARY KEY (id);


--
-- Name: attachments pk_attachments; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT pk_attachments PRIMARY KEY (id);


--
-- Name: audit_logs pk_audit_logs; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT pk_audit_logs PRIMARY KEY (id);


--
-- Name: companies pk_companies; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT pk_companies PRIMARY KEY (id);


--
-- Name: contact_persons pk_contact_persons; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contact_persons
    ADD CONSTRAINT pk_contact_persons PRIMARY KEY (id);


--
-- Name: contract_amendments pk_contract_amendments; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_amendments
    ADD CONSTRAINT pk_contract_amendments PRIMARY KEY (id);


--
-- Name: contract_services pk_contract_services; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_services
    ADD CONSTRAINT pk_contract_services PRIMARY KEY (id);


--
-- Name: contracts pk_contracts; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT pk_contracts PRIMARY KEY (id);


--
-- Name: customer_rate_months pk_customer_rate_months; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rate_months
    ADD CONSTRAINT pk_customer_rate_months PRIMARY KEY (id);


--
-- Name: customer_rates pk_customer_rates; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rates
    ADD CONSTRAINT pk_customer_rates PRIMARY KEY (id);


--
-- Name: customer_relation_scores pk_customer_relation_scores; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_relation_scores
    ADD CONSTRAINT pk_customer_relation_scores PRIMARY KEY (id);


--
-- Name: customers pk_customers; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT pk_customers PRIMARY KEY (id);


--
-- Name: document_chunks pk_document_chunks; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT pk_document_chunks PRIMARY KEY (id);


--
-- Name: document_generations pk_document_generations; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT pk_document_generations PRIMARY KEY (id);


--
-- Name: gus_cpi_snapshots pk_gus_cpi_snapshots; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.gus_cpi_snapshots
    ADD CONSTRAINT pk_gus_cpi_snapshots PRIMARY KEY (id);


--
-- Name: notes pk_notes; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT pk_notes PRIMARY KEY (id);


--
-- Name: service_groups pk_service_groups; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.service_groups
    ADD CONSTRAINT pk_service_groups PRIMARY KEY (id);


--
-- Name: services pk_services; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT pk_services PRIMARY KEY (id);


--
-- Name: users pk_users; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT pk_users PRIMARY KEY (id);


--
-- Name: valorizations pk_valorizations; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.valorizations
    ADD CONSTRAINT pk_valorizations PRIMARY KEY (id);


--
-- Name: contract_amendments uq_amendment_contract_number; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_amendments
    ADD CONSTRAINT uq_amendment_contract_number UNIQUE (contract_id, amendment_number);


--
-- Name: attachments uq_attachments_s3_key; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT uq_attachments_s3_key UNIQUE (s3_key);


--
-- Name: document_chunks uq_chunk_attachment_index; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT uq_chunk_attachment_index UNIQUE (attachment_id, chunk_index);


--
-- Name: companies uq_companies_nip; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT uq_companies_nip UNIQUE (nip);


--
-- Name: contract_services uq_contract_service_valid_from; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_services
    ADD CONSTRAINT uq_contract_service_valid_from UNIQUE (contract_id, service_id, valid_from);


--
-- Name: contracts uq_contracts_contract_number; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT uq_contracts_contract_number UNIQUE (contract_number);


--
-- Name: customers uq_customers_ckd; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT uq_customers_ckd UNIQUE (ckd);


--
-- Name: customers uq_customers_ckk; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT uq_customers_ckk UNIQUE (ckk);


--
-- Name: gus_cpi_snapshots uq_gus_cpi_snapshots_year_quarter; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.gus_cpi_snapshots
    ADD CONSTRAINT uq_gus_cpi_snapshots_year_quarter UNIQUE (year, quarter);


--
-- Name: customer_rates uq_rate_cs_year; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rates
    ADD CONSTRAINT uq_rate_cs_year UNIQUE (contract_service_id, year);


--
-- Name: customer_rate_months uq_rate_month; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rate_months
    ADD CONSTRAINT uq_rate_month UNIQUE (rate_id, month);


--
-- Name: customer_relation_scores uq_score_customer_date; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_relation_scores
    ADD CONSTRAINT uq_score_customer_date UNIQUE (customer_id, score_date);


--
-- Name: service_groups uq_service_groups_path_id; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.service_groups
    ADD CONSTRAINT uq_service_groups_path_id UNIQUE (path_id);


--
-- Name: users uq_users_email; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_email UNIQUE (email);


--
-- Name: users uq_users_login; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uq_users_login UNIQUE (login);


--
-- Name: valorizations uq_valorization_contract_year; Type: CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.valorizations
    ADD CONSTRAINT uq_valorization_contract_year UNIQUE (contract_id, year);


--
-- Name: idx_act_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_act_contract ON public.activity_logs USING btree (contract_id);


--
-- Name: idx_act_customer_date; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_act_customer_date ON public.activity_logs USING btree (customer_id, activity_date);


--
-- Name: idx_alert_assigned; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_alert_assigned ON public.alerts USING btree (assigned_to, status);


--
-- Name: idx_alert_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_alert_contract ON public.alerts USING btree (contract_id);


--
-- Name: idx_alert_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_alert_customer ON public.alerts USING btree (customer_id);


--
-- Name: idx_alert_trigger_status; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_alert_trigger_status ON public.alerts USING btree (trigger_date, status);


--
-- Name: idx_amendments_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_amendments_contract ON public.contract_amendments USING btree (contract_id);


--
-- Name: idx_att_company; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_att_company ON public.attachments USING btree (company_id);


--
-- Name: idx_att_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_att_contract ON public.attachments USING btree (contract_id);


--
-- Name: idx_att_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_att_customer ON public.attachments USING btree (customer_id);


--
-- Name: idx_att_ocr_status; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_att_ocr_status ON public.attachments USING btree (ocr_status) WHERE ((ocr_status)::text = ANY ((ARRAY['pending'::character varying, 'processing'::character varying])::text[]));


--
-- Name: idx_audit_created; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_audit_created ON public.audit_logs USING btree (created_at);


--
-- Name: idx_audit_entity; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_audit_entity ON public.audit_logs USING btree (entity_type, entity_id);


--
-- Name: idx_audit_user; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_audit_user ON public.audit_logs USING btree (user_id);


--
-- Name: idx_chunks_attachment; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_chunks_attachment ON public.document_chunks USING btree (attachment_id);


--
-- Name: idx_chunks_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_chunks_customer ON public.document_chunks USING btree (customer_id);


--
-- Name: idx_chunks_embedding_hnsw; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_chunks_embedding_hnsw ON public.document_chunks USING hnsw (embedding public.vector_cosine_ops) WITH (m='16', ef_construction='64');


--
-- Name: idx_contact_persons_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_contact_persons_customer ON public.contact_persons USING btree (customer_id);


--
-- Name: idx_contact_persons_email; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_contact_persons_email ON public.contact_persons USING btree (email);


--
-- Name: idx_contracts_customer_status; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_contracts_customer_status ON public.contracts USING btree (customer_id, status);


--
-- Name: idx_contracts_deleted_at; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_contracts_deleted_at ON public.contracts USING btree (deleted_at);


--
-- Name: idx_contracts_end_date; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_contracts_end_date ON public.contracts USING btree (end_date);


--
-- Name: idx_contracts_number; Type: INDEX; Schema: public; Owner: hrk
--

CREATE UNIQUE INDEX idx_contracts_number ON public.contracts USING btree (contract_number);


--
-- Name: idx_cs_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_cs_contract ON public.contract_services USING btree (contract_id);


--
-- Name: idx_cs_service; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_cs_service ON public.contract_services USING btree (service_id);


--
-- Name: idx_customers_account_manager; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_customers_account_manager ON public.customers USING btree (account_manager_id);


--
-- Name: idx_customers_ckd; Type: INDEX; Schema: public; Owner: hrk
--

CREATE UNIQUE INDEX idx_customers_ckd ON public.customers USING btree (ckd);


--
-- Name: idx_customers_ckk; Type: INDEX; Schema: public; Owner: hrk
--

CREATE UNIQUE INDEX idx_customers_ckk ON public.customers USING btree (ckk);


--
-- Name: idx_customers_company; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_customers_company ON public.customers USING btree (company_id);


--
-- Name: idx_customers_deleted_at; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_customers_deleted_at ON public.customers USING btree (deleted_at);


--
-- Name: idx_customers_status; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_customers_status ON public.customers USING btree (status);


--
-- Name: idx_doc_gen_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_doc_gen_contract ON public.document_generations USING btree (contract_id);


--
-- Name: idx_doc_gen_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_doc_gen_customer ON public.document_generations USING btree (customer_id);


--
-- Name: idx_doc_gen_status_created; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_doc_gen_status_created ON public.document_generations USING btree (status, created_at);


--
-- Name: idx_gus_cpi_year_quarter; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_gus_cpi_year_quarter ON public.gus_cpi_snapshots USING btree (year, quarter);


--
-- Name: idx_notes_contract; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_notes_contract ON public.notes USING btree (contract_id);


--
-- Name: idx_notes_customer; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_notes_customer ON public.notes USING btree (customer_id);


--
-- Name: idx_rate_months_rate; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_rate_months_rate ON public.customer_rate_months USING btree (rate_id);


--
-- Name: idx_rates_cs_year; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_rates_cs_year ON public.customer_rates USING btree (contract_service_id, year);


--
-- Name: idx_score_customer_date; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_score_customer_date ON public.customer_relation_scores USING btree (customer_id, score_date);


--
-- Name: idx_services_group; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_services_group ON public.services USING btree (group_id);


--
-- Name: idx_val_contract_year; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_val_contract_year ON public.valorizations USING btree (contract_id, year);


--
-- Name: idx_val_status_planned; Type: INDEX; Schema: public; Owner: hrk
--

CREATE INDEX idx_val_status_planned ON public.valorizations USING btree (status, planned_date);


--
-- Name: activity_logs fk_activity_logs_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_logs_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE SET NULL;


--
-- Name: activity_logs fk_activity_logs_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_logs_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: activity_logs fk_activity_logs_performed_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk_activity_logs_performed_by_users FOREIGN KEY (performed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: alerts fk_alerts_assigned_to_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk_alerts_assigned_to_users FOREIGN KEY (assigned_to) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: alerts fk_alerts_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk_alerts_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE CASCADE;


--
-- Name: alerts fk_alerts_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.alerts
    ADD CONSTRAINT fk_alerts_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: attachments fk_attachments_amendment_id_contract_amendments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT fk_attachments_amendment_id_contract_amendments FOREIGN KEY (amendment_id) REFERENCES public.contract_amendments(id) ON DELETE SET NULL;


--
-- Name: attachments fk_attachments_company_id_companies; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT fk_attachments_company_id_companies FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE SET NULL;


--
-- Name: attachments fk_attachments_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT fk_attachments_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE CASCADE;


--
-- Name: attachments fk_attachments_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT fk_attachments_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: attachments fk_attachments_uploaded_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.attachments
    ADD CONSTRAINT fk_attachments_uploaded_by_users FOREIGN KEY (uploaded_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: audit_logs fk_audit_logs_user_id_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT fk_audit_logs_user_id_users FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: contact_persons fk_contact_persons_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contact_persons
    ADD CONSTRAINT fk_contact_persons_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: contract_amendments fk_contract_amendments_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_amendments
    ADD CONSTRAINT fk_contract_amendments_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE RESTRICT;


--
-- Name: contract_amendments fk_contract_amendments_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_amendments
    ADD CONSTRAINT fk_contract_amendments_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: contract_amendments fk_contract_amendments_document_id_attachments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_amendments
    ADD CONSTRAINT fk_contract_amendments_document_id_attachments FOREIGN KEY (document_id) REFERENCES public.attachments(id) ON DELETE SET NULL;


--
-- Name: contract_services fk_contract_services_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_services
    ADD CONSTRAINT fk_contract_services_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE RESTRICT;


--
-- Name: contract_services fk_contract_services_service_id_services; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contract_services
    ADD CONSTRAINT fk_contract_services_service_id_services FOREIGN KEY (service_id) REFERENCES public.services(id) ON DELETE RESTRICT;


--
-- Name: contracts fk_contracts_account_manager_id_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_account_manager_id_users FOREIGN KEY (account_manager_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: contracts fk_contracts_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: contracts fk_contracts_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE RESTRICT;


--
-- Name: contracts fk_contracts_parent_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_parent_contract_id_contracts FOREIGN KEY (parent_contract_id) REFERENCES public.contracts(id) ON DELETE SET NULL;


--
-- Name: contracts fk_contracts_primary_document_id_attachments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_primary_document_id_attachments FOREIGN KEY (primary_document_id) REFERENCES public.attachments(id) ON DELETE SET NULL;


--
-- Name: contracts fk_contracts_updated_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.contracts
    ADD CONSTRAINT fk_contracts_updated_by_users FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customer_rate_months fk_customer_rate_months_rate_id_customer_rates; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rate_months
    ADD CONSTRAINT fk_customer_rate_months_rate_id_customer_rates FOREIGN KEY (rate_id) REFERENCES public.customer_rates(id) ON DELETE CASCADE;


--
-- Name: customer_rates fk_customer_rates_contract_service_id_contract_services; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rates
    ADD CONSTRAINT fk_customer_rates_contract_service_id_contract_services FOREIGN KEY (contract_service_id) REFERENCES public.contract_services(id) ON DELETE RESTRICT;


--
-- Name: customer_rates fk_customer_rates_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rates
    ADD CONSTRAINT fk_customer_rates_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customer_rates fk_customer_rates_valorization_id_valorizations; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_rates
    ADD CONSTRAINT fk_customer_rates_valorization_id_valorizations FOREIGN KEY (valorization_id) REFERENCES public.valorizations(id) ON DELETE SET NULL;


--
-- Name: customer_relation_scores fk_customer_relation_scores_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customer_relation_scores
    ADD CONSTRAINT fk_customer_relation_scores_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customers fk_customers_account_manager_id_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_account_manager_id_users FOREIGN KEY (account_manager_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: customers fk_customers_company_id_companies; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_company_id_companies FOREIGN KEY (company_id) REFERENCES public.companies(id) ON DELETE RESTRICT;


--
-- Name: customers fk_customers_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customers fk_customers_updated_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT fk_customers_updated_by_users FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: document_chunks fk_document_chunks_attachment_id_attachments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT fk_document_chunks_attachment_id_attachments FOREIGN KEY (attachment_id) REFERENCES public.attachments(id) ON DELETE CASCADE;


--
-- Name: document_chunks fk_document_chunks_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_chunks
    ADD CONSTRAINT fk_document_chunks_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: document_generations fk_document_generations_accepted_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_accepted_by_users FOREIGN KEY (accepted_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: document_generations fk_document_generations_amendment_id_contract_amendments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_amendment_id_contract_amendments FOREIGN KEY (amendment_id) REFERENCES public.contract_amendments(id) ON DELETE SET NULL;


--
-- Name: document_generations fk_document_generations_attachment_pdf_id_attachments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_attachment_pdf_id_attachments FOREIGN KEY (attachment_pdf_id) REFERENCES public.attachments(id) ON DELETE SET NULL;


--
-- Name: document_generations fk_document_generations_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE SET NULL;


--
-- Name: document_generations fk_document_generations_cover_letter_attachment_id_attachments; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_cover_letter_attachment_id_attachments FOREIGN KEY (cover_letter_attachment_id) REFERENCES public.attachments(id) ON DELETE SET NULL;


--
-- Name: document_generations fk_document_generations_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: document_generations fk_document_generations_generated_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.document_generations
    ADD CONSTRAINT fk_document_generations_generated_by_users FOREIGN KEY (generated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: notes fk_notes_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT fk_notes_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE CASCADE;


--
-- Name: notes fk_notes_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT fk_notes_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: notes fk_notes_customer_id_customers; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.notes
    ADD CONSTRAINT fk_notes_customer_id_customers FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: service_groups fk_service_groups_parent_id_service_groups; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.service_groups
    ADD CONSTRAINT fk_service_groups_parent_id_service_groups FOREIGN KEY (parent_id) REFERENCES public.service_groups(id) ON DELETE RESTRICT;


--
-- Name: services fk_services_group_id_service_groups; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.services
    ADD CONSTRAINT fk_services_group_id_service_groups FOREIGN KEY (group_id) REFERENCES public.service_groups(id) ON DELETE RESTRICT;


--
-- Name: valorizations fk_valorizations_approved_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.valorizations
    ADD CONSTRAINT fk_valorizations_approved_by_users FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: valorizations fk_valorizations_contract_id_contracts; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.valorizations
    ADD CONSTRAINT fk_valorizations_contract_id_contracts FOREIGN KEY (contract_id) REFERENCES public.contracts(id) ON DELETE RESTRICT;


--
-- Name: valorizations fk_valorizations_created_by_users; Type: FK CONSTRAINT; Schema: public; Owner: hrk
--

ALTER TABLE ONLY public.valorizations
    ADD CONSTRAINT fk_valorizations_created_by_users FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict d7N5ZS5PteCDI7OziTXCrTyjldRz4LmbB20rkeKj5uagS0MroTq3Ze0AryzFQVk

